* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Instrument Sans", sans-serif;
}

:root {
	--dark-green: #004643;
	--bege: #faf0ca;
	--pending: #e8e787;
	--completed: #57a156;
	--canceled: #ae3131;
}

#root {
	font-size: x-large;
	background-color: var(--bege);
	color: var(--dark-green);
	min-height: 100vh;
}

main {
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	min-width: 8em;
	width: fit-content;
	background-color: var(--dark-green);
	color: var(--bege);
	border: none;
	border-radius: 1em;
	padding: 1em;
	cursor: pointer;
}